{% extends "consultaTabla.html" %}
{% block tabla %}
{%if consulta %}

<tbody>
{%for i in consulta%}
<tr>
    <td><a href="{% url 'detalleComision' i.id%}">{{i.comisionado}}</a></td>
    <td>{{i.fecha_inicio}}</td>

</tr>
{%endfor%}
</tbody>

{% endif %}
{% endblock %}