{% extends "base.html" %}

{% block content %}
{% if oficio%}
<h1>Oficio de Comisión</h1>
<p>Comisionado: {{oficio.comisionado}}</p>
<p>Fecha inicio: {{oficio.fecha_inicio}}</p>
<p>Población: {{oficio.poblacion}}</p>
<p>Medio de transporte: {{oficio.medio_transporte}}</p>
{%endif%}

{% endblock %}