{% extends "base.html" %}
{%load  crispy_forms_tags%}

{% block content %}
<h1>{{titulo}}</h1>
<div class="row">
    <div class="col-xs-8 col-md-10 table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                {%for i in titulos %}
                <th>{{i}}</th>
                {%endfor%}
            </tr>
            </thead>
            <!--consultamos los elementos para una tabla-->
            {% block tabla %}
            {% endblock %}

        </table>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-4 col-md-2">
        {% if el_form %}
        <form method="get">
            {{el_form|crispy}}
            <input class="btn btn-primary" type="submit" value="Consultar">
        </form>
        {% endif %}

    </div>
</div>

{% endblock %}
