{% extends "base.html" %}

{% block content %}


<form action="" method="post">{% csrf_token %}
    <p>Estas seguro de eliminar "{{ object }}"?</p>
    <input type="submit" class="btn btn-danger" value="Confirmar" />
    <a href="{{object.get_absolute_url}}" class="btn btn-default">Cancelar</a>
</form>

{% endblock %}