{% extends "base.html" %}
{%load  crispy_forms_tags%}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Navbar example</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes
        the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
    </p>
</div>

{% block content %}
<h1>{{titulo}}</h1>
<!--<div class="row">
    <div class="col-sm-6 col-md-4">-->
        {% if el_form %}
        <form method="post"> {% csrf_token %}
            {{el_form|crispy}}
            <input class="btn btn-primary" type="submit" value="Guardar">
        </form>
        {% endif %}
        {% if form %}
        <form action="" method="post">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Guardar">
        </form>
        {%endif%}
    <!--</div>
</div>-->
{% endblock %}
